[2014-03-05 08:44] OleMchls opened #1 "I NEED AN IMAGEHOST!"
![atom-wordcount](https://f.cloud.github.com/assets/584259/2331039/66e2bba2-a442-11e3-8d1f-7bd92287a40d.gif)

[2014-03-05 08:45] #1 closed, assigned to nobody

[2014-03-11 23:45] OleMchls opened #2 "provide better word count algorithm"
assigned to @ulrichsg

[2014-03-14 15:08] lukasoppermann opened #4 "Uncaught TypeError: Cannot read property 'path' of null wordcount-view.coffee:23"
I get this on startup of atom.
Uncaught TypeError: Cannot read property 'path' of null wordcount-view.coffee:23

[2014-03-14 15:20] #4 closed, assigned to nobody

[2014-05-19 08:30] dajare opened #5 "Wordcount throws an "uncaughtException" error"
This looks like a great extension for Atom, but it seems to have an annoying bug - or perhaps set of related bugs:

**(1)** When enabled, it throws an "uncaughtException" error: "An javascript error occured in the browser":

![uncaughtException](http://i.imgur.com/nLK75Un.png)

**(2)** When you go to close the editor, there is an accompanying "no longer responding" error which needs closing. (Oddl

[2014-05-19 09:37] #5 closed, assigned to nobody

[2014-05-23 07:28] gabriel-r opened #6 "Show counter in buffers by syntax type, not extension"
Show counter in buffers by syntax type, not extension.

This would imply also having the counter in new, not yet saved files. Also, in files that were switched from a syntax to another, i.e. from `Python` to `Markdown`.

[2014-05-26 19:57] osnipso opened #7 "Error when updating from 0.11.0 to 0.12.0"
Atom says a new version (0.12.0) of the plugin is available, and prompts me to update. When I click "Install", it opens the JS console with an error (Uncaught TypeError: Cannot call method 'destroy' of null).
Have tried to uninstall the plugin (to reinstall the updated version) and the same error occurs.

[2014-06-30 09:57] #7 closed, assigned to nobody

[2014-08-18 16:22] miketheman opened #8 "WorkspaceView.getActivePaneItem is deprecated."
Use Workspace::getActivePaneItem instead
[code]

[2014-08-24 13:35] Mottelz opened #9 "WorkspaceView.getActivePaneItem is deprecated."
Use Workspace::getActivePaneItem instead

[code]

[2014-08-24 13:59] #9 closed, assigned to nobody

[2014-08-29 22:20] jcdavison opened #11 "Uncaught TypeError"
Just installed atom-wordcount and am now getting below js error.  Sorry to post this, I'm not proficient with how atom is glued together and would love a quick-fix to be able to finish my work w/o having get into a heavy debugging cycle.  I tried to uninstall it but no dice.

Thanks.

![http://cl.ly/image/1O1M1Y0i3P0t/Image%202014-08-29%20at%203.18.01%20PM.png](http://cl.ly/image/1O1M1Y0i3P0t/Imag

[2014-08-30 12:52] nylki opened #12 "counter is not visible after recent update"
As the title says. Word and character count are not shown anymore with version 0.13.0.

[2014-08-30 16:15] #12 closed, assigned to nobody

[2014-08-31 11:03] nylki opened #14 "WorkspaceView.getActivePaneItem is deprecated."
Got a few warnings in deprecation cop:

"Use Workspace::getActivePaneItem instead"

[code]

[2014-08-31 11:04] #14 closed, assigned to nobody

[2014-09-04 15:31] DavidLGoldberg opened #15 "WorkspaceView.getActivePaneItem is deprecated."
Use Workspace::getActivePaneItem instead

[code]

[2014-09-04 16:29] #15 closed, assigned to nobody

[2015-02-13 13:28] BoJlod9I opened #16 "Uncaught TypeError: Cannot read property 'on' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.177.0
**System**: linux 3.2.0-75-generic
**Thrown From**: [wordcount](https://github.com/nesQuick/atom-wordcount) package, v0.13.1

### Stack Trace

Uncaught TypeError: Cannot read property 'on' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-02-23 03:04] dkalisch opened #17 "Use the `atom-workspace` tag instead of the `workspace` class."
I get the following error in the current atom version:
"In keymaps/wordcount.cson: Use the `atom-workspace` tag instead of the `workspace` class."
Will this be fixed? Since it seems that this error prevents the plugin from getting activated.

[2015-02-23 08:18] nesQuick commented on #17
Pullrequests are very welcome @dkalisch

[2015-02-26 23:06] aleksandar-todorovic opened #19 "Atom.Object.defineProperty.get is deprecated."
atom.workspaceView is no longer available.
In most cases you will not need the view. See the Workspace docs for
alternatives: https://atom.io/docs/api/latest/Workspace.
If you do need the view, please use `atom.views.getView(atom.workspace)`,
which returns an HTMLElement.
[code]

[2015-02-27 08:12] nesQuick commented on #19
Pull requests are very welcome @aleksandar-todorovic

[2015-03-03 14:06] claman opened #20 "Use the `atom-workspace` tag instead of the `workspace` class."
In keymaps/wordcount.cson: Use the `atom-workspace` tag instead of the `workspace` class.

[2015-03-03 14:07] claman opened #21 "Atom.Object.defineProperty.get is deprecated."
atom.workspaceView is no longer available.
In most cases you will not need the view. See the Workspace docs for
alternatives: https://atom.io/docs/api/latest/Workspace.
If you do need the view, please use `atom.views.getView(atom.workspace)`,
which returns an HTMLElement.
[code]

[2015-03-03 14:07] #20 closed

[2015-03-03 14:07] #21 closed

[2015-03-03 15:10] claman commented on #19
It looks like the API docs haven't been updated to reflect the deprecation of atom.workspaceView, and I don't currently know enough to try to fix it...

[2015-03-03 15:21] #17 closed

[2015-03-03 15:21] #19 closed

[2015-03-03 19:00] claman commented on #16
How do you reproduce this?

[2015-03-04 01:30] #8 closed

[2015-03-04 01:30] #11 closed

[2015-03-04 01:30] #16 closed

[2015-03-04 02:57] mjswensen opened #25 "Uncaught TypeError: Cannot read property 'split' of undefined"
Steps to reproduce:

1. Update atom-wordcount
2. Close update pane.

The error also occurs when opening and closing the settings view, each time.

**Atom Version**: 0.184.0
**System**: Mac OS X 10.10.2
**Thrown From**: [wordcount](https://github.com/nesQuick/atom-wordcount) package, v2.0.0

### Stack Trace

Uncaught TypeError: Cannot read property 'split' of undefined

[code]

### Commands

[code]

[2015-03-04 03:03] mjswensen commented on #25
Also happens when switching between panes.

[2015-03-04 09:50] nesQuick commented on #25
@mjswensen what do you have configured in your wordcount config?

![screen_shot_2015-03-04_at_10_48_45](https://cloud.githubusercontent.com/assets/584259/6481254/2b45157a-c25c-11e4-9057-2d52ffe85b39.png)

I can't reproduce it, that's why I'm wondering.

[2015-03-04 11:38] AluisioASG commented on #25
Just had the same issue.  Disabling doesn't help, the window has to be restarted.
Default settings.

[2015-03-04 16:51] DavidLGoldberg commented on #25
+1

[2015-03-04 16:57] nesQuick commented on #25
@DavidLGoldberg +1 for your PR fixing it ;)

[2015-03-04 21:10] mjswensen commented on #25
@nesQuick The default, as shown in your screenshot. I also noticed that it happened any time I opened a new file. I also had the symptom that @AluisioASG pointed out, where the window had to be restarted to resolve the issue after disabling the plugin.

Perhaps there is a conflict with some other plugin?

[2015-03-04 23:08] #25 closed

[2015-03-04 23:09] nesQuick commented on #25
this issue should be fixed now, please check if it works for you now, as I never could reproduce it.

[2015-03-05 00:03] AluisioASG commented on #25
Seems to be working for me.

[2015-03-05 00:18] mjswensen commented on #25
@nesQuick after an initial test, it seems to be working great. Thank you!

[2015-03-05 00:19] nesQuick commented on #25
glad it works now for you :)

[2015-03-05 01:56] DavidLGoldberg commented on #25
Hey, was just trying to show love :)

Fixed for me it looks like.  Thanks!

[2015-03-05 21:56] aleksandar-todorovic commented on #19
Well I still think that this issue needs to remain open. It _is_ a bug and it _is_ a problem that might break the extension as soon as Atom gets upgraded.

Now knowing how to fix this bug is not an excuse to close the issue.

[2015-03-05 22:01] nesQuick commented on #19
The plugin has no deprecated method calls anymore since https://github.com/nesQuick/atom-wordcount/pull/24 so it will remain closed because it is fixed.

[2015-03-05 22:47] s0r00t opened #26 "[automatic issue] Uncaught TypeError: undefined is not a FUNCTION"
Enter steps to reproduce below:
1. Open a file
**Atom Version**: 0.186.0
**System**: linux 3.13.0-46-generic
**Thrown From**:  wordcount  https://github.com/nesQuick/atom-wordcount  package, v2.1.0 ### Stack Trace Uncaught TypeError: undefined is not a FUNCTION     At /home/s0/.atom/packages/wordcount/lib/main.coffee:20 TypeError: undefined is not a FUNCTION at /home/s0/.atom/packages/wordcount/li

[2015-03-05 22:49] nesQuick commented on #26
I can't reproduce it, and didn;t see a major flaw in the code, so can you debug it further?

[2015-03-05 22:52] s0r00t commented on #26
Uhm, wierd. It seems to happen randomly. I'll try to debug it further.

[2015-03-05 22:59] nesQuick commented on #26
Thank you very much!

[2015-03-06 00:01] k2052 commented on #26
I had the same issue. I couldn't determine the cause but the quick fix was to just add an if to check if the view is not null

[code]

[2015-03-06 00:03] nesQuick commented on #26
I assume it's not the view which is not defined, because it is always
defined here:
https://github.com/nesQuick/atom-wordcount/blob/master/lib/main.coffee#L17
where I have no idea if editor might be undef sometimes

On Fri, Mar 6, 2015 at 1:01 AM, K-2052 <notifications@github.com> wrote:

[2015-03-11 10:42] markoa opened #27 "Uncaught TypeError: undefined is not a function"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.186.0
**System**: Mac OS X 10.10.2
**Thrown From**: [wordcount](https://github.com/nesQuick/atom-wordcount) package, v2.1.0

### Stack Trace

Uncaught TypeError: undefined is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-03-18 18:59] afischer commented on #27
+1

[2015-03-27 20:37] trcook commented on #27
I also received this error after updating. It did not throw again after restarting atom, however. Possibly just a one-off problem in the update process?

[2015-03-29 01:48] CyrilMazur opened #28 "Hides the charset and language buttons from the status bar"
Is it a feature actually? It would make sense to hide the language (since words count is rather for text files) but the charset is important.

[2015-03-29 10:53] nesQuick commented on #28
I'm afraid I do not really understand your feature request. But I'm happy to take a look at a pull request so we can talk code :)

[2015-03-29 14:55] CyrilMazur commented on #28
Sorry, better with a screenshot. Before I installed the plugin, it used to show «UTF-8 Plain text» under the red line.
![screen shot 2015-03-29 at 22 50 34](https://cloud.githubusercontent.com/assets/464216/6886134/756ee1bc-d666-11e4-9f96-63d4b7c3fd5a.png)

[2015-03-29 21:36] nesQuick commented on #28
It works for me, but if you can find the issue, I'm happy to accept pull requests

![screen_shot_2015-03-29_at_23_34_42](https://cloud.githubusercontent.com/assets/584259/6887861/59285dd4-d66c-11e4-97b4-fd8735229a1e.png)

[2015-03-29 21:36] nesQuick commented on #28
You might want to ensure that you are using the latest version.

[2015-03-31 09:07] CyrilMazur commented on #28
I'm using 2.1.0. From developer tools, I found out that if I remove the style="display:block;" attribute from the .word-count inline-block div (which displays then as inline-block, hence the name), the encoding and grammar selectors come back. So the problem is this "display:block" that's not supposed to be there.

I have never written in coffee script before, but I'll try to hunt down the bug and

[2015-03-31 09:11] nesQuick commented on #28
:+1: awesome let me know if you need any help. Atom has great docs as well [atom.io](http://atom.io)

[2015-03-31 09:11] CyrilMazur commented on #28
Maybe this line actually https://github.com/nesQuick/atom-wordcount/blob/master/lib/main.coffee#L31 If that is the jquery show() method, then I recommend the following instead:

[code]

[2015-03-31 09:17] nesQuick commented on #28
I don't know what atom is doing internaly, but it's open source so you can investigate here https://github.com/atom/atom

[2015-03-31 09:39] CyrilMazur commented on #28
Here's the PR https://github.com/nesQuick/atom-wordcount/pull/29

[2015-03-31 20:51] nesQuick commented on #28
Thank you very much @CyrilMazur for your contribution! :heart: I just published this version as `2.2.0` :+1:

[2015-03-31 20:51] #28 closed

[2015-04-02 02:24] CyrilMazur commented on #28
Happy to help :)

[2015-04-05 11:24] andya9 opened #30 "Object.addRightTile is deprecated."
Use version ^1.0.0 of the status-bar Service API.
[code]

[2015-04-05 11:25] andya9 opened #31 "Object.Object.defineProperty.get is deprecated."
Requiring `View` from `atom` is no longer supported.
Please require `atom-space-pen-views` instead:
  `{View} = require 'atom-space-pen-views'`
Add `"atom-space-pen-views": "^2.0.3"` to your package dependencies.
[code]

[2015-04-10 09:57] sojan-official opened #33 "Package.getStylesheetsPath is deprecated."
Store package style sheets in the `styles/` directory instead of `stylesheets/` in the `wordcount` package
[code]

[2015-04-10 10:05] nesQuick commented on #33
I'm happy to take your pull requests to get this fixed :)

[2015-04-10 18:07] nesQuick commented on #31
I'm happy to take your pull requests to get this fixed :)

[2015-04-10 18:07] nesQuick commented on #30
I'm happy to take your pull requests to get this fixed :)

[2015-04-10 20:17] nesQuick commented on #33
fixed by #34

thanks a lot for your help! :heart:

[2015-04-10 20:17] #33 closed

[2015-04-10 20:26] #30 closed

[2015-04-10 20:26] #31 closed

[2015-04-10 20:27] nesQuick commented on #31
fixed with 2.2.2

[2015-04-10 20:27] nesQuick commented on #30
fixed with 2.2.2

[2015-04-11 06:32] sojan-official commented on #33
glad to chip in :smile:

[2015-07-22 09:56] jeffmcneill opened #35 "Add "Enable for all files" setting"
Not sure the issue, how can I troubleshoot?

[2015-07-22 10:13] jeffmcneill commented on #35
Never mind, I had to add the file extension for the files I was working on. Perhaps there could be a setting to "enable for all" or for only some by extension?

[2015-07-22 20:56] skycaptain commented on #35
+1. I often copy-paste a text-sample to atom to count the words. By default a unsaved file is set in plain text mode. It would be great if wordcount could be enabled by default on new unsaved files as well.

[2015-07-23 04:17] jeffmcneill commented on #35
+1 on default, non-saved files as well. I have the same use case as @skycaptain

[2015-07-27 10:45] nesQuick commented on #35
sure, valid feature request, I just adjusted the "error". also PR's welcome ;)

[2015-08-05 11:50] johnjcamilleri opened #36 "Word count changes if the non-active file is updated"
I have two tabs open, `main.tex` (active) and `main.log`.
When I compile my TeX file outside of Atom, `main.log` changes. Atom automatically refreshes the file contents even though that file tab is not active, but the word count indicator in the status bar changes too! Even though I am still viewing `main.tex`, the indicator now shows me the word count of `main.log`, even though that tab is not ac

[2015-08-16 20:14] nesQuick commented on #36
Hey @johnjcamilleri that indeed sounds like a bug, and my guess for the caue is that the view is updated on keystoke events https://github.com/nesQuick/atom-wordcount/blob/master/lib/main.coffee#L27-L28 so there is no eventlistener for a fs file change. But it can be implemented, this might be a good starting point: https://atom.io/docs/api/v1.0.7/TextEditor#instance-onDidChange

[2015-08-26 23:38] bsparks opened #41 "Optionally don't count code blocks in md"
It would be nice to ignore all of my code blocks in markdown. The source code examples in a blog post shouldn't count as words IMO.

[2015-08-27 20:57] nesQuick commented on #41
I think this sounds like a great addition to wordcount, would love to see a PR :sparkles:

[2015-09-18 08:36] cle1109 opened #42 "Activate plugin for unsaved buffers"
It would be great if the plugin could be activated for unsaved buffers - that way, users can quickly count words from text inserted e.g. from the clipboard.

[2015-09-21 09:36] nesQuick commented on #42
That sounds like a great addition, PR welcome :)

On Fri, Sep 18, 2015 at 10:36 AM, Clemens Brunner <notifications@github.com>
wrote:

[2015-10-31 11:58] smaxtastic commented on #41
I was craving for that option, too :) I filed a PR here: https://github.com/nesQuick/atom-wordcount/pull/43.

It includes an extra option in the plugin settings and covers both normal markdown and Github-flavored markdown.

@bsparks Any opinion on inline code? Should that maybe count as one word or is the default way sufficient?

[2015-11-02 13:47] nesQuick commented on #41
@smaxtastic that's awesome, thanks a bunch for your contribution! :sparkling_heart:

[2015-11-02 13:54] nesQuick commented on #42
Huge thanks to @smaxtastic for adding it, I'm going to bump a new version asap :+1:

[2015-11-02 13:54] #42 closed

[2015-11-02 13:55] nesQuick commented on #41
fixed with #43

[2015-11-02 13:55] #41 closed

[2015-11-02 13:56] nesQuick commented on #27
Is this still valid? Never heard about this issue again :tada: Please let me know if it still exist in the current version!

[2015-11-02 13:56] #27 closed

[2015-11-02 14:13] cle1109 commented on #42
Awesome, thanks @smaxtastic!

[2015-11-02 20:25] nesQuick opened #45 "Add Changelog"

[2015-11-02 20:26] nesQuick opened #46 "Add "Features" to Readme"
* Exclude code blocks from count
* Count unsaved buffers
* Writing goal tracker
* ...

[2015-11-06 22:17] AndreasSE93 opened #49 ""Autoactivate for files without an extension" doesn't work if a directory contains ".""
For example, "/a.b/file" will not work, since it seems to think the extension is "b/file". "/a.b/file.md" will still properly be detected as an MD file though.

This also applies to dotfiles, e.g. "/.file".

[2015-11-08 07:15] vsivsi opened #50 "Hangs atom worker on triple backtick above long paragraph"
Hi, this seems like a great package, but I just installed and started using it while editing a large markdown project and suddenly started getting weird hangs whenever I type triple backticks to start a fenced codeblock. I immediately suspected this package because I had only just started using it when the hangs started happening, but I have since spent the past hour really narrowing it down and I

[2015-11-08 07:20] vsivsi commented on #50
Because I'm a glutton for punishment, I just verified that it is something special about backticks. Doing it with single or double quotes (which have the same autocomplete behavior) has no effect. And it's not a markdown language specific issue, because the same happens if the document is "plain text".

[2015-11-08 07:30] vsivsi commented on #50
Disabling the `Ignore Markdown code blocks` option makes the issue go away, so I'm guessing the problem is here: https://github.com/nesQuick/atom-wordcount/blob/master/lib/wordcount-view.coffee#L43-L46

I've written a lot of Coffeescript (not for Atom), but just starting at those 4 lines at midnight, I can't trivially see how that `for` loop or `replace` can go infinite, which seems to be what's h

[2015-11-08 07:55] vsivsi commented on #50
Well, I just had my first Atom debugging session and what is happening is that as soon as there are three opening backticks without three closing backticks, the `replace` at [line 46](https://github.com/nesQuick/atom-wordcount/blob/master/lib/wordcount-view.coffee#L46) crashes in a bad way.  Looks like as soon as the initial clause of that regex is satisfied, the `replace` scans to the end of the

[2015-11-08 08:32] vsivsi commented on #50
Seems like a case of [catastrophic backtracking](https://stackoverflow.com/questions/13562435/infinite-loop-with-regex)...

Modifying the triple backtick replace regex to add an end of string condition solves it.

[code]

Procrastination achievement unlocked!

[2015-11-10 10:35] nesQuick commented on #50
@vsivsi I was reading your monologue that Sunday and love how you dug into the issue. I really want to thank you for finding, reporting and especially fixing it! <3 I'm going to get this in and release a new version asap :)

[2015-11-10 10:35] #50 closed

[2015-11-10 10:38] nesQuick commented on #49
That's a use case which is unfortunately not supported yet. I think the solution to this is in implementing / fixing #6 :wrench:

I'm happy to take a PR :package:

[2015-11-10 16:22] vsivsi commented on #50
Awesome, thanks!  I'm writing my Ph.D. Dissertation with Atom in Pandoc flavored Markdown. This was an excuse to work on something else (and learn how Atom packages work) before bed on Sunday.

[2015-11-16 11:30] nesQuick commented on #50
Awesome! So nice to hear that people use this midnight hack for such important things like a Ph.D. good luck with that! Just take a look at the issues if you need more breaks :grinning:

[2015-11-17 11:55] mangecoeur opened #52 "Use onDidStopChanging to reduce resource consumption"
I use Atom as my writing editor, so I end up with some pretty long markdown files. I find that wordcount eats up CPU since it re-counts the whole document on every keystroke - when you are typing fast and the document is long I found this causes a spike in CPU usage.

Using onDidStopChanging instead of onChange would help a lot, since it would prevent the wordcount re-running as often.

Another al

[2015-11-17 13:29] nesQuick commented on #52
Constant recalculation should be solved with a `debounce` like the lodash version for example: https://lodash.com/docs#debounce

PRs welcome <3

[2015-11-17 14:17] mangecoeur commented on #52
Wouldn't that basically do the same thing as onDidStopChanging ? That function also just waits until 330milliseconds after the last keystroke before invoking, my first instinct is that the result would be the same as using debounce?

[2015-11-17 16:10] nesQuick commented on #52
Well in the default configuration it would basically be the same, I just want to be sure the func will be executed which could be done with the `maxWait` parameter. As described in their docs:

[2015-12-30 19:52] halleycarleton opened #55 "Markdown syntax counted as words"
When using atom-wordcount in a markdown file the markdown syntax is counted as words.

ex.
[code]
This shows a count of 5 words and 17 characters.

[2016-01-01 20:22] nesQuick commented on #55
That is a interesting issue. I'm not sure if this is something which should be handled by this plugin, and if what would be user interface look like? Because technically 4 words and 17 chars is correct. Any thoughts are welcome!

[2016-01-05 18:53] nesQuick commented on #52
A little update on that: I meant actually `throttle` https://lodash.com/docs#throttle

[2016-01-05 19:09] #52 closed

[2016-02-02 00:10] #35 closed

[2016-02-25 20:37] oychang commented on #55
It might be worth using [CSS selectors](https://atom.io/docs/v1.5.3/behind-atom-scoped-settings-scopes-and-scope-descriptors) to only get the printable elements. Or maybe use `markdown-preview`'s [renderer](https://github.com/atom/markdown-preview/blob/master/lib/renderer.coffee) to get the text after rendering out the markdown syntax?

I have a variation on OP's complaint: I wish the word count w

[2016-02-25 21:12] nesQuick commented on #55
Idea: A regex (initially empty) to match characters / patterns to exclude from the count.

Any implementations / PRs welcome

[2016-02-27 01:20] anjerodesu opened #58 "Failed to load the wordcount package"
[Enter steps to reproduce below:]

1. Open .md file
2. ...

**Atom Version**: 1.5.3
**System**: Mac OS X 10.11.3
**Thrown From**: [wordcount](https://github.com/nesQuick/atom-wordcount) package, v2.6.0

### Stack Trace

Failed to load the wordcount package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-02-27 20:16] nesQuick commented on #58
`space-pen` is a package which should ship with the atom editor since 1.0 could you try to reinstall the plugin again?

[2016-04-14 14:03] JamesWP opened #59 "Switching tab does not update word count"
Recreate issue,

Open two markdown files with differing word counts.

Switch between them and the word count does not change.

[2016-04-15 08:27] cbrnr opened #60 "Disable on About page"
The wordcount plugin should probably be disabled on the Atom About page.

[2016-04-15 09:27] nesQuick commented on #60
yeah, that sounds reasonable to me. I'd happily take a PR

[2016-04-15 09:28] nesQuick commented on #59
Hmm, that looks like a regression to me, but I can reproduce it. PR welcome :)

[2016-04-15 09:50] JamesWP commented on #59
I've never done any development in atom but ill out it on my ever growing hobby project list!

Sent from my mobile device

-------- Original message --------
From: Ole Michaelis <notifications@github.com>
Date: 15/04/2016  10:28  (GMT+00:00)
To: nesQuick/atom-wordcount <atom-wordcount@noreply.github.com>
Cc: JamesWP <james_peach01@hotmail.co.uk>
Subject: Re: [nesQuick/atom-wordcount] Switching tab

[2016-04-15 10:54] nesQuick commented on #59
Hey @JamesWP I think this issue and the word count plugin would be a great start to get your feet wet with atom.

https://github.com/nesQuick/atom-wordcount/blob/master/lib/main.coffee#L64-L65

These are the lines where the event listener is attached to atom, I suspect they do not match the tab switching event. That is what I could give you as a starting point right of my hat.

If you encounter an

[2016-04-20 11:04] mangecoeur opened #61 "Option to only show word count (no character count)"
The character count IMHO is not terribly informative, it would be nice to have an option to only show word count and reduce status bar clutter a little

[2016-04-20 11:06] mangecoeur opened #62 "Remove atom-space-pen dependence"
the space-pen-views package is depreciated, and the wordcount doesn't really need that functionality. Would also make the package lighter in terms of size and startup time.

[2016-04-21 06:46] nesQuick commented on #62
Sounds like a solid idea, PR welcome :)

On Wed, Apr 20, 2016 at 1:06 PM, mangecoeur <notifications@github.com>
wrote:

[2016-04-21 06:47] nesQuick commented on #61
Due to the fact that the plugin is highly configurable anyway, I do like
the idea of having the option. But the default should be showing it, so we
don't introduce a BC here.

I'd like to see a PR for that :+1:

On Wed, Apr 20, 2016 at 1:04 PM, mangecoeur <notifications@github.com>
wrote:

[2016-07-14 16:08] mushroomman opened #65 "Feature Request: Latex Word Count"
In same way that word counts are supported for Markdown files, it would be ideal for wordcount to be able to ignore LaTeX language elements and provide an accurate word count.

[2016-07-15 08:19] nesQuick commented on #65
Great idea, I'd love to see a PR for that 👍

[2016-07-20 09:51] #60 closed

[2016-07-26 07:10] cbrnr opened #67 "Word count not updated when switching tabs"
Steps to reproduce:

- Open at least two text files in separate tabs
- When first opened, the word count is correctly displayed
- Switch tabs - the word count is not updated

[2016-07-28 11:51] nesQuick commented on #67
it's a duplicate of #59

[2016-07-28 11:51] #67 closed

[2016-10-07 09:08] #46 closed

[2016-10-07 09:08] nesQuick commented on #61
Fixed by #68

[2016-10-07 09:08] #61 closed

[2016-10-07 09:09] #45 closed

[2016-10-07 09:10] nesQuick commented on #26
I did not receive any more reports on this, also no way to reproduce this. If anyone has a way to reproduce this with the current versions of atom and the word count plugin please reopen this issue.

[2016-10-07 09:10] #26 closed

[2016-10-07 09:18] #58 closed

[2016-10-07 10:30] nesQuick commented on #59
this should be fixed by now

[2016-10-07 10:30] #59 closed

[2016-10-07 10:41] nesQuick commented on #1
AGAIN!
![wc-demo](https://cloud.githubusercontent.com/assets/584259/19187373/62f97ad8-8c8b-11e6-85aa-1282f94f509b.gif)

[2016-10-16 12:52] nesQuick commented on #62
fixed with #63

[2016-10-16 12:52] #62 closed

[2016-10-24 10:14] mkborregaard opened #70 "Atom fails to load the wordcount package"
error report is "Cannot find module lodash", on startup of Atom 1.11.2.

Here is the stack trace:

[code]

[2016-10-25 20:38] mkborregaard commented on #70
I'll uninstall the package so I cannot report if the error persists.

[2016-11-02 21:42] nesQuick commented on #70
I just tested it on a fresh install. Everything works as expected.

If you or anyone else experience a similar error, please feel free to reopen this ticket.

[2016-11-02 21:42] #70 closed

[2016-12-05 09:49] villermen opened #72 "Count words in multiple selections"
Right now only the last selection is used for word count. I want to be able to select relevant parts of the text (e.g. in LaTeX documents with a lot of command sections and code sections) and have them tallied together.

![word count](https://cloud.githubusercontent.com/assets/1106303/20880568/16f73590-bad9-11e6-9e87-adc06a92d160.png)

Please tell me if this is a wanted addition, and I'll get you

[2016-12-05 10:15] nesQuick commented on #72
Hey @villermen I was not aware of that. And this is totally a addiction I'd love to see.

Looking forward to a PR 👍 Let me know if you need help.

[2016-12-05 10:40] villermen opened #73 "Words are counted even when the result is not viewed"
A thing I came across trying to implement #72.

[2016-12-05 10:42] nesQuick commented on #73
Could you elaborate on this a bit? Or if you feel it's a easy one, send over a PR?

thanks!

[2016-12-05 12:11] villermen commented on #73
I added a debug log statement somewhere in `WordcountView::getCurrentText` and noticed it was fired even in the .coffee file I was editing. So the count is probably being calculated even for files that are excluded by the configuration.

[2016-12-05 15:46] nesQuick commented on #73
Yes, you are right. Let's continue this in the PR 👍

[2016-12-06 10:15] #73 closed

[2016-12-06 10:19] nesQuick commented on #73
I just published `2.10.0` containing your changes. Again, thank you very much ✨

[2016-12-06 10:20] nesQuick commented on #72
I just published `2.10.0` containing your changes. Again, thank you very much ✨

[2016-12-06 10:20] #72 closed

[2016-12-06 12:24] Psychelzh opened #77 "Bug found when atom start up."
[Enter steps to reproduce below:]

1. Start up atom.
2. ...

**Atom Version**: 1.12.6
**Electron Version**: 1.3.9
**System**: Unknown Windows Version
**Thrown From**: [wordcount](https://github.com/nesQuick/atom-wordcount) package, v2.10.1

### Stack Trace

Failed to activate the wordcount package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-12-06 13:02] nesQuick commented on #77
@villermen do you have a thought on this one?

[2016-12-06 13:10] villermen commented on #77
Apparently `atom.workspace.getActiveTextEditor()` can return `undefined` when the active item is not a TextEditor. This can probably easily be fixed by not calling `view.update_count` when there is no editor to supply it. I'll do some experimenting and get you a PR.

[2016-12-06 13:20] villermen commented on #77
I haven't been able to reproduce the bug. However the proposed #78 should fix the issue, by simply not running update_count if it makes no sense.

[2016-12-06 13:44] #77 closed

[2016-12-06 13:44] nesQuick commented on #77
Thanks @villermen looks good to me, I'm about to publish a new patch version

[2016-12-06 13:45] nesQuick commented on #77
just published `v2.10.2` and hopefully fixed it. Big thanks again to @villermen 🎉 and please verify @Psychelzh 🐛 🔨

[2016-12-08 02:54] Psychelzh commented on #77
Thanks! The new version `v2.10.2` solved the problem very well. @nesQuick

[2016-12-12 15:33] Avonaeon commented on #58
I have version 1.12.7 installed and this still happened. Tried re-installing the wordcount package twice with the same error.

[2016-12-12 15:35] nesQuick commented on #58
@Avonaeon please update to the latest version: `2.10.2`

[2016-12-13 12:19] Avonaeon commented on #58
I meant I have Atom version 1.12.7. I'm already using the 2.10.2 version of wordcount.

[2016-12-14 09:47] nesQuick commented on #58
Could you please use the atom report feature? So I have all versions and
the actual trace :+1:

On Tue, Dec 13, 2016 at 1:19 PM, Daniel Eskildsen <notifications@github.com>
wrote:

[2016-12-14 11:02] Avonaeon commented on #58
Atom doesn't seem to allow to report an existing issue, I just see "View Issue". Here's the stack trace though:

[2016-12-14 11:27] nesQuick commented on #58
@Avonaeon thank you very much. I don't see how I could debug this, sorry :(

[2016-12-14 16:58] frankdugan3 opened #79 "Goal Config - Per File"
As far as I can tell, the goal is only read from config files. That would limit goal-setting to the project level. It would be really useful if the wordcount goal could also be configured per-document, say in a YAML header in markdown files, for example.

If this sounds like a good idea to you, I'd be willing to work on a PR. I'm not familiar with coffeescript, but I could probably slug through it

[2016-12-15 14:54] nesQuick commented on #79
Hey @frankdugan3 that is a interesting idea. What about if we do a little pop-up as the syntax selection has, so it always comes with the configured default but could be overwritten per document.
![screen shot 2016-12-15 at 15 53 40](https://cloud.githubusercontent.com/assets/584259/21228605/b67346f6-c2de-11e6-861a-0dcd747e0fae.png)

[2016-12-15 14:57] frankdugan3 commented on #79
@nesQuick SGTM.

[2017-01-08 11:02] rudygasson opened #80 "No Goal indicator visible"
I could not find any example of how the goal indicator or bar should look like, but if I set a goal and a color I cannot see anything that is drawn or changes while writing towards the goal and reach it. Any hints or ideas?

Example: Set goal to 130 words, color: default

![bildschirmfoto 2017-01-08 um 11 53 27](https://cloud.githubusercontent.com/assets/2715405/21749190/f24f2fbe-d599-11e6-99bf-e9

[2017-01-19 12:20] nesQuick commented on #80
Thanks for the report @rudygasson I can reproduce it. Yet I did not have any time to look into it. PR's are definitely welcome ✨

[2017-01-19 13:44] #80 closed

[2017-01-19 13:45] nesQuick commented on #80
this fix is included in `2.10.3`

[2017-02-01 18:15] wldcordeiro opened #81 "Word count getting cut off in status bar"
The word count seems to get cut off and overlap other elements of the status bar.

![screenshot_20170201_111452](https://cloud.githubusercontent.com/assets/580982/22519964/bb154aae-e86f-11e6-8354-afcf626472c6.png)

[2017-02-05 21:37] nesQuick commented on #81
Hey @wldcordeiro could you please re-test this with all other plugins disabled? Because I've never seen this before?

Thanks a bunch!

[2017-02-16 04:26] neonfrontier opened #83 "option to count WPM"
Hello,
Just wondering if an option to show WPM could be made available.

Thank you.

[2017-02-16 09:16] nesQuick commented on #83
hey @neonfrontier could you elaborate what you mean with "WPM"?

[2017-03-05 03:13] neonfrontier commented on #83
Sorry that means "Words Per Minute".

[2017-03-05 09:03] nesQuick commented on #83
Ahh got it, well, I'd love to see a PR for this ✨

[2017-03-21 15:08] anthillsocial opened #84 "Suggestion: Exclude html comments"
I use html comments in Markdown so it would be great if there was an option to exclude words from inside comments.

[2017-03-23 08:02] alexlawrence opened #85 "Sentence count and word count per sentence"
I am using this plugin mostly to see how many words are in a paragraph (by selecting). However, I also need the count of sentences in the selection and the count of words in each sentence. The second number I could get by selecting a single sentence but that is rather a tedious thing to do for a whole paragraph.

Would it be possible to add this feature to this plugin or is it out of its scope?

I

[2017-03-28 18:14] srerickson commented on #84
+1

[2017-03-29 12:05] nesQuick commented on #84
I'd love to see a PR for this. But please add a single option to exclude comments, and then detect them with a mapping indicated from the file type.

[2017-03-29 12:07] nesQuick commented on #85
@alexlawrence I'd love to see such a thing. So please go ahead, a few notes for the implementation:

- only display it when  option key is pressed, like _shift_ or _option / alt_
- document it
- do not add a config option for it
- do not add a dependency

Thanks for your help!

[2017-08-09 20:59] johnblommers opened #87 "Uncaught Error: Couldn't convert text to a String"
[Enter steps to reproduce:]

1. ...Open text file 200000_Pages.txt a very large  text file about 1/2 gigabyte of text
2. ...Atom displays very large file warning
3. Click Proceed.
4. Click Continue when warned the editor is unresponsive a bunch of times, then finally
5. Receive the error for the  wordcount package. See below:
6. Continue using Atom anyway. The Editor is handling the very large fil

[2017-09-16 10:27] bendix3 opened #88 "Feature request: ignore space characters"
I would love to see an option to exclude space characters in the settings, as is done with the newline characters.

[2017-09-20 07:30] nesQuick commented on #88
Hey @bendix3,

I'm torn on this, word count has a bunch of setting already. And I fear it becomes more and more confusing to people opening the settings tab. In writing when you reference a article word/character count spaces are usually included. I wonder what is your exact use case, would you care to share?

Would you see any option to incorporate this into any existing feature/setting?

[2017-09-21 15:04] bendix3 commented on #88
Hey @nesQuick,

Incorporating this into an existing feature doesn't seem feasible to me, as they're all very specific. I do admit that for most use cases characters are counted including spaces, but I stumble upon other cases from time to time, currently the application form for the German open source fund [Prototypefund](https://prototypefund.de). I certainly wouldn't mind another setting after `

[2017-09-25 07:31] alexdevero commented on #55
Regexp applied to .md or .markdown files could work very well for this.

[2017-10-20 09:08] pwrobinson opened #89 "Please add the option to exclude whitespaces from the count."
This would be tremendously full for some applications.

[2017-10-20 09:10] OleMchls commented on #89
duplicate of #88

[2017-10-20 09:10] #89 closed

[2017-10-20 13:49] pwrobinson commented on #88
I know of several online systems for research grants that only count non-whitespace characters. I'm currently using one of them, which prompted me to post this.

[2017-10-20 14:41] OleMchls commented on #88
I'm happy to see any PR that addressed this issue – however simply adding another option with another `if` will probably increase the complexity of the plugin to an extent I'm not willing to support. So I'm happy to take ideas and encourage you all to propose an implementation.

[2017-10-31 20:58] maxbrunsfeld opened #90 "Changes to TextEditor.onDidChange and TextBuffer.onDidChange coming in Atom 1.23"
Hi! Thanks for maintaining the wordcount package!

In Atom v1.23, we will [some](https://github.com/atom/text-buffer/pull/273) [changes](https://github.com/atom/text-buffer/pull/274) that may affect your package.

The methods `TextEditor.onDidChange` and `TextBuffer.onDidChange` will now call their callbacks *less frequently*. Previously, these callbacks would get called once for each individual c

[2017-12-27 22:01] vict0rg commented on #84
Hello guys! I had the same need to not comment HTML. Me friend made a little addition in the code. Do you think it's interesting that I pull a request?

[2018-01-02 08:02] OleMchls commented on #84
@vict0rg sure thing send the PR over. We can discuss actual code/implementation over there. 👍

[2018-01-06 21:03] vict0rg commented on #84
@OleMchls I'm totally new on github... Excuse me... I'll post here...

At line 65 of file wordcount-view.cofee (wordcount 2.10.4) I change

codePatterns = [/`{3}(.|\s)*?(`{3}|$)/g, /[ ]{4}.*?$/gm]

to

codePatterns = [/`{3}(.|\s)*?(`{3}|$)/g, /[ ]{4}.*?$/gm, //g, /{[\s\S]*?}/g, /#[\s\S]*?/g]

Explanation:

, //g   # Exclude comment html markup

, /{[\s\S]*?}/g   # Exclude all info between { } - He

[2018-01-11 02:33] OleMchls commented on #84
@vict0rg don't worry, we all start at some point, here is a great tutorial on how to submit your first PR: https://github.com/CPAN-PRC/resources/wiki/My-first-Pull-Request

[2018-01-11 02:37] OleMchls commented on #90
This should not affect the word count package.

[2018-01-11 02:37] #90 closed

[2018-01-29 07:57] Aerijo commented on #65
@nbrewk @OleMchls IMO the best way to wordcount LaTeX files is to use a dedicated tool like `TeXcount` or `wordcount.tex`. These would require significant changes / additions to this package and it's scope, so I've written a [package](https://github.com/Aerijo/latex-wordcount) dedicated to adding LaTeX wordcount support. Right now, it can do document, file, section, and selection worcounting. I wo

[2018-02-11 13:57] davidlday commented on #84
@vict0rg - do you still plan on submitting a PR or need help doing so? I'd love to have this feature as well. Was getting ready to fork and work on it when I saw this open issue.

[2018-02-11 16:29] davidlday opened #91 "Suggestion: Refine Word Matching Regex"
The current regex uses a pretty liberal expression:
[code]

I propose a more constrained expression that only matches on word characters + apostrophes:
[code]

I believe this more closely represents what an editor / publisher means by word count and may also resolve #88 on excluding spaces from character count without adding a config item, as well as #55 on counting markdown syntax as words. And m

[2018-02-19 12:22] grzbielok opened #92 "Uncaught TypeError: Cannot read property 'alwaysOn' of undefined"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.24.0 x64
**Electron**: 1.6.16
**OS**: Mac OS X 10.13.3
**Thrown From**: [atom-wordcount-master](https://github.com/nesQuick/atom-wordcount) package 2.10.4

### Stack Trace

Uncaught TypeError: Cannot read property 'alwaysOn' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-02-19 12:30] OleMchls commented on #92
Please reopen with steps to reproduce

[2018-02-19 12:30] #92 closed

[2018-02-19 13:32] OleMchls commented on #65
@Aerijo Generally I think having smarter counting per file format is a good idea. However, we would need to have a possibility to have different functions per file extension. If you want to contribute this I will happily coordinate with you how to archive this best.

Given we succeed with this approach I would happily take a super advanced tex counting module/function for the `wordcount` package.

[2018-02-19 13:33] OleMchls commented on #84
@danielbayley feel free to submit a PR if you wont hear anything back from @vict0rg :)

[2018-02-19 13:43] OleMchls commented on #91
I like the idea, and yes, this is what was meant with #2. Could you give me an example how the apostrophes make this regex more accurate than simply `/\w+/g`?
`

[2018-02-19 14:58] danielbayley commented on #84
@OleMchls Wrong d! 😉
@davidlday…

[2018-02-19 15:20] OleMchls commented on #84
My bad! Sorry

[2018-02-19 17:00] davidlday commented on #91
@OleMchls - Cool, and sure! The apostrophes account for contractions (at least in English). The ```\w``` expression expands to ```[A-Za-z0-9_]```, which will still count words like ```don't``` as two words. In some academic cases, contractions count as two words. IIRC, a couple of NLP tokenizers I've worked with in the past behave this way, but I believe the intent here is more along the lines of

[2018-02-19 17:01] davidlday commented on #84
@OleMchls - No worries! I'll wait a little bit longer for a response, then proceed. ty!

[2018-03-14 12:19] josh-bridge commented on #65
If this is not possible in the short-term, as I am using it now the main inaccuracy seems to come from the inclusion of words in comments. Is there an easy language-nonspecific way to not include them in the count or does the atom code make that difficult to do?

[2018-03-23 12:52] keelanfh commented on #91
If `\w` does just expand to [A-Za-z0-9_] then surely this would cause problems for accented characters, etc.

For instance, the French word `à` would not be counted at all, and `fête` would be counted as two words.

Not sure if that's what `\w` actually expands to. Would be good to test. I just tried it out in Atom's find and replace interface and it suggests that is what it does.

[2018-03-24 02:06] davidlday commented on #91
@keelanfh - Excellent point. I found a couple of references to patterns that might work better:

* [Matching accented characters with Javascript regexes
](https://stackoverflow.com/questions/5436824/matching-accented-characters-with-javascript-regexes)
* [Concrete Javascript Regex for Accented Characters (Diacritics)
](https://stackoverflow.com/questions/20690499/concrete-javascript-regex-for-acce

[2018-03-24 12:09] keelanfh commented on #91
Then that would run into the problem of other non-Latin scripts (e.g. Arabic) not being counted.

I'm just not sure exactly what the problem is that we're trying to solve. If there's an issue with Markdown syntax maybe it should just be fixed with something like

`/[^\s#]+/g`

?

[2018-03-24 12:13] keelanfh opened #93 "Opening a large file throughs an uncaught error that the buffer's content is too large to fit in a string"
1. Attempt to open large file.

**Atom**: 1.24.0 x64
**Electron**: 1.6.16
**OS**: Mac OS X 10.13.3
**Thrown From**: [wordcount](https://github.com/nesQuick/atom-wordcount) package 2.10.4

### Stack Trace

Uncaught Error: This buffer's content is too large to fit into a string.

Consider using APIs like `getTextInRange` to access the data you need.

[code]

### Commands

[code]

### Non-Core Packag

[2018-03-24 12:14] #93 closed

[2018-03-24 12:14] keelanfh commented on #93
Just realised this is a duplicate of #87

[2018-03-24 13:40] davidlday commented on #91
The problems are listed above: #88 and #55. The goal is to increase accuracy without adding any new settings.

If we can assume Markdown only, then we could use something like the [Remove Markdown](https://www.npmjs.com/package/remove-markdown) package and use the original regex to count what's left. I kind of like that idea, but I don't think the intent was to be Markdown-specific either.

What c

[2018-03-24 14:40] keelanfh commented on #91
Yeah, I think it’s quite complicated. In order to make it more accurate we’d need to decide what we actually want the word count to look like.

[2018-03-26 01:43] davidlday commented on #91
Maybe a better approach would be to adopt an existing word count package and implement filters for the various types of files (markdown, html, etc) and then run the results through an existing word count package. There's no shortage of them: https://www.npmjs.com/search?q=word%20count

This would relieve this package from the responsibility of defining what a word is and developing tests to valida

[2018-03-26 06:32] OleMchls commented on #65
@josh-bridge IIRC atom has an inbuild parser, so I think technically it would be possible to detect comments and ignore them. However, you would need to get this metadata from the Atom API. Which is not really used for counting (yet).

[2018-03-26 06:41] OleMchls commented on #91
@davidlday @keelanfh first of all, thanks for your involvement <3

Do you have a specific one you would recommend? I was scanning the list, but none of them really stood out to me. But generally, I do like the idea, given how complex the realm of word counting actually is.

Maybe in the meantime go with a more refined regex as you suggested.

For #55 there is another idea discussed in https://gith

[2018-03-29 13:46] davidlday commented on #91
@OleMchls no worries! [wordcount](https://www.npmjs.com/package/wordcount) caught my eye because it supports English, CJK, and Cyrillic. Digging down through its dependencies to [word-regex](https://www.npmjs.com/package/word-regex), the pattern it uses is:

``
/[a-zA-Z0-9_\u0392-\u03c9\u0400-\u04FF]+|[\u4E00-\u9FFF\u3400-\u4dbf\uf900-\ufaff\u3040-\u309f\uac00-\ud7af\u0400-\u04FF]+|[\u00E4\u00C4\u

[2018-03-29 22:42] mbroedl commented on #84
I had some well working regexes, put them in and saw how easy the code was to modify. Didn't realise there was a discussion on it until I actually made the PR. Woooops.
Hope no one is offended. @davidlday @vict0rg

I also have a separate option for excluding block quotes (which is helpful in case you need to count your own words rather than other people's words).
#94

[2018-04-04 23:35] davidlday commented on #84
@mbroedl - no offense taken! I just want the feature and don't care who implements it.

[2018-04-05 09:54] mbroedl commented on #84
@davidlday Great. Have you checked out the PR (#94)? :)
Let me know if it causes any issues.
@OleMchls any thought on the PR?

[2018-04-05 23:43] mbroedl commented on #84
I've thought about it, albeit only now. It does make sense, to have this, but:

Then the settings already have an array containing the file extensions on which the package would be auto-activated. So when implemented properly, there needed to be an input with grammars on which the stripping of text is activated.

I'm not familiar with the individual grammars, but I can't see why the already existi

[2018-05-11 05:52] knaaptime opened #96 "feature request: ignore html comments"
thanks for the great package. in addition to codeblocks, it would be awesome to have an option to omit words inside html comment tags (or maybe a user-defined delimiter?)

[2018-05-18 15:27] djh1997 opened #97 "£ shows after number"
the £ symbol is normally in front so some sort of toggle might be nice

[2018-05-28 14:44] OleMchls commented on #84
As my personal time is limited and I do not want this project to get stuck in a dead end. We'll move towards a more open contribution model. As the PR provided by @mbroedl added value to the project I am fine merging it. I still think too many options hurt the project. But I or anyone else could always file a PR for that. And I do not want to be a gate keeper to added value for this project.

[2018-05-28 14:45] OleMchls commented on #84
I think this issue can be closed with that. I will release a new version later today. LMK if you think it should not be closed.

[2018-05-28 14:45] #84 closed

[2018-05-28 14:46] OleMchls commented on #96
duplicate of #84

[2018-05-28 14:46] #96 closed

[2018-05-28 14:47] OleMchls commented on #97
You have a very valid point there. But instead of adding yet another toggle I'd love to see a solution that works with an internal map that we can expand whenever we see a need. Happy to take PR for that.

[2018-05-28 19:07] #91 closed

[2018-05-30 00:32] mbroedl opened #99 "Ignore Scopes in word count [including proof of concept]"
Resulting from a discussion with @X-Raym in the recently accepted PR #94 I had a bit of a thought on why it should not be possible to ignore _scopes_ rather than re-inventing regexes that are implemented as grammars already.

Taking [tokenised lines](https://discuss.atom.io/t/access-to-tokenized-contents-of-texteditor/24015/4) is theoretically possible. Together with a [scope selector](https://git

[2018-05-30 01:35] mbroedl commented on #99
This code is a bit nicer. Now keeping line breaks.

[code]

As the scope selector functions like css selectors (connection with commas), there is two ways to ignore something (or deactivate temporarily, see above): either filter it out from the list before (here done via an exclamation mark), or add a random word such as _not_, so that 'not punctuation.*' can never be matched and is thus ignored.

[2018-05-30 11:17] X-Raym commented on #99
@mbroedl Also for testing my particular case (usage of this plugin with [Fountain](https://github.com/superlou/fountain-atom), I write a bit of code which exclude things which should be not be considered in time evaluation of `.fountain` files to see how it could be implemented. It can surely be more clean with more advanced regex, but it gives an idea:

[code]

So here my conclusion about that:

[2018-06-01 09:53] mbroedl commented on #99
@X-Raym Although I prefer out-of-the-box packages, I see the point of your suggestions.
But could you explain how you would want to use services here?

[2018-06-01 10:05] X-Raym commented on #99
@mbroedl The point would be to be able to let the user write its own text filtering functions in his init.cofee file. I know some package allows such features, like pigments to add [custom named colors](https://github.com/abe33/atom-pigments/issues/134#issuecomment-174335530). Though, I don't know how to implement that.

But regarding to your proposition, it is able to get the syntax of the line,

[2018-06-01 10:27] mbroedl commented on #99
I see, yeah. I haven't implemented something like that yet, but it shouldn't be too bad?

Here's the logics in pigments, I suppose:
https://github.com/abe33/atom-pigments/blob/master/package.json#L20
https://github.com/abe33/atom-pigments/blob/master/lib/pigments.coffee#L121
https://github.com/abe33/atom-pigments/blob/master/lib/pigments-api.coffee

Yes, my proposition gets the tokenised syntax (i

[2018-06-01 10:35] X-Raym commented on #99
@mbroedl I have to admit having tokenized syntax would make filtering far more easy, as I would have have to reimplement regexes at the filter level. So Yes, this can be a very good solution too ! I would only have to put a list of desired syntax in a text field in the settings right ? That would be very quick to set up :) Maybe one text field for adding syntax, and one to exclude some (depending

[2018-06-01 10:49] mbroedl commented on #99
I envisioned something like that on rightclick, although this'd be a lot of effort to implement.
![image](https://user-images.githubusercontent.com/19365355/40837148-55ed578e-6591-11e8-8d5a-702ca0b3f0ea.png)

They'd probably be stored as which should be changeable in the settings, as well:
`comments.*, !*.todo, quote.*, punctuation.*, fenced.code.*, !header.*`

What do you mean with 'a text field

[2018-06-01 11:08] X-Raym commented on #99
@mbroedl oh no I imagine a simple text input fields in word count settings with a csv list of syntax to keep or exclude. But your solution is from far the most user friendly and flexible, I like it !

[2018-06-01 12:21] mbroedl commented on #99
Yeah, I suppose your suggestion would be a first implementation.
And only then comes the UI to it, when it's needed and someone had time to implement it. But that probably can wait way longer.

I wouldn't actually keep two fields, because of the excessive amount of grammars. There'd be too much that's in neither list.

So I would suggest only to have a field to exclude grammars?
At least in my cas

[2018-06-01 12:58] X-Raym commented on #99
@mbroedl in fountain there is only few fields which are valuable for wordcount : dialog text, description, and transition. The rest have to be exluded. But fortunatly there isnt too much syntax element so it will be possible to do this with an exclusion list. Longer but possible.

But I think Inclusion list is thesafest choice. It gives less surprise. "Just put there what you want", no surprise wi

[2018-06-01 13:45] mbroedl commented on #99
Mhmmm... do all the things you want to exclude have some kind of grammar structure in common that it'd be easy to exclude them?

For Markdown (and other grammars I am aware of) there is no such thing as: 'this is actual text without any fuss', but the whole document carries the same label, even if it's links, markup, etc.
So at least in the case of markdown it would actually be _impossible_ to cre

[2018-06-01 13:52] mbroedl commented on #99
I just realised that if you go via _inclusion_ you could only ever count words in your fountain file (assuming other grammars do not have dialogue.* markers, for example)?
Would that be acceptable?

[2018-06-01 17:14] X-Raym commented on #99
@mbroedl I see the inclusion problem. Not sure how to tackle this.

Here is scope log on my Fountain file, with dialog name, dialog text, and description, (things I want in my count):

[code]

It seems indeed to have generic text too.

[2018-06-01 17:56] mbroedl commented on #99
We could possibly just pass on whatever is in the text field to the scope selector?
https://github.com/atom/first-mate/blob/master/spec/scope-selector-spec.coffee#L33

So I guess in your case you could have (haven't trialled it):
`dialogue | character | paragraph`
if you don't care about any other wordcount, whereas if you would like to count also in Markdown then possibly with
`(-fountain & *) |

[2018-06-02 02:08] X-Raym commented on #99
@mbroedl Don't you think the syntax for the could only be a CSV wth atom scope names like that ?

`entity.name.character.fountain, string.other.dialogue.fountain, meta.paragraph.text`

?

[2018-06-02 12:15] mbroedl commented on #99
Yes, but:

a) then you need two fields one for count-only and one for exclude-from-count
b) you will not be able to count anything else but your fountain files

I believe (b) is a highly problematic thing and it would require a huge warning which shouldn't be the aim of a seemingly easy word count program. This could be resolved by adding extra scopes, etc. And (a) and (b) could be resolved by usi

[2018-06-02 22:05] mbroedl commented on #99
A few hours later... (I really shouldn't have time for this, haha.)
Cropping the tokenised text to the selection was really touch, but now it should all work well.

@X-Raym : Could you try whether [mbroedl/atom-wordcount](https://github.com/mbroedl/atom-wordcount) works for you?
I believe you want to use
`entity.name.character.fountain, string.other.dialogue.fountain, meta.paragraph.text`
in the t

[2018-06-02 22:10] mbroedl commented on #65
@josh-bridge can you try whether [mbroedl/atom-wordcount](https://github.com/mbroedl/atom-wordcount) works for you (cf. #99)?
I added an option to exclude specific scopes or only count specific scopes. For markdown a simple `comment.*` would therefore ignore all comments. I don't know much about the latex tokenisation, but I hope you should be able to do what you planned?
I will create a PR when p

[2018-06-03 00:28] X-Raym commented on #99
@mbroedl Hmm not sure how to install this,
I download and extract the zip of you fork, put them with other atom package,
but it says "Cannot find module 'first-mate'"

Why do me I miss to cleanly install package from forked repo ?

[2018-06-03 00:52] mbroedl commented on #99
In the folder of that package go in the command line and do `apm install` to install that missing package.
Otherwise, next time you could try this: `apm install mbroedl/atom-wordcount`

(Note: none of these ways link the package to the development mode in atom, so make sure you keep a backup!)

[2018-06-03 13:33] mbroedl commented on #99
Try `apm rebuild`. Not an expert in windows, and neither with apm though. The oniguruma package is part of the wordcount package, so not related to my changes. :/

________________________________
From: Raymond Radet [notifications@github.com]
Sent: 03 June 2018 14:27
To: OleMchls/atom-wordcount
Cc: Malte Roedl; Mention
Subject: Re: [OleMchls/atom-wordcount] Ignore Scopes in word count [including

[2018-06-03 14:33] X-Raym commented on #99
@mbroedl I tried `apm rebuild` before or after the `apm install` without success.

How did you made the change on your side ?

[2018-06-03 14:38] mbroedl commented on #99
I just reinstalled it to check, and in my case I just go into the directory of the package and type `apm install` and then it worked. :/
Sorry I cannot help more... :/

You could try `npm install` instead, but i don't know if that would make a difference, as apm just forwards all commands...

________________________________
From: Raymond Radet [notifications@github.com]
Sent: 03 June 2018 15:33
T

[2018-06-03 14:41] X-Raym commented on #99
@mbroedl when you say directory of the package, it can be anywhere where the zip has been extracted right ? even simple E:\Desktop\atom-wordcount-master ? `amp install` is supposed to work from anywhere ?

[2018-06-03 14:49] mbroedl commented on #99
Ok, so you would execute that in the folder of the package.
`E:\Desktop\atom-wordcount-master> apm install` to install all the modules needed for the module*.
Then you would link it `apm link` if you want it activated always, or `apm link --dev` if you want it to be activated in dev mode which is usally recommended.
If you linked it to the dev mode, you need to start atom as such (e.g. `atom --dev

[2018-06-03 15:06] X-Raym commented on #99
@mbroedl still no luck. I think there is something I am missing there. I will not bother you more with that so you can focus on actual feature development (which should be way more stimulating), and try to see if I can find some doc somewhere.

I hope other people will join the discussion and be more lucky with the installation !

[2018-06-03 15:38] X-Raym commented on #99
@mbroedl I can't test but I can still provide feedbacks on integration ideas ! 😄

[2018-06-06 20:17] X-Raym commented on #99
@mbroedl Have you tested your mod with other file than fountain ? How well does it perform ?

[2018-06-06 20:19] X-Raym commented on #99
Also, as far as I can see, this will not answer all problem. I think having a function to modify the text variable output could still be nice, it case there is things to exclude which are not marked by a synthax (you spoke about link in Markdown ?)

[2018-06-11 15:26] kapote2017 opened #100 "Latest release does not count Armenian language words"
Previous versions does not have this problem.

[2018-06-13 00:42] sapphire008 opened #101 "Failed to activate the wordcount package"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.27.2 x64
**Electron**: 1.7.15
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [wordcount](https://github.com/nesQuick/atom-wordcount) package 3.0.0

### Stack Trace

Failed to activate the wordcount package

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-07-02 21:51] jamesbeldock opened #102 "Word/Char count doesn't display on initially-empty tab until tab switch"
Recipe to repro in v3.0.0:

1. Open new tab and save new .md document
2. Type lots of .md content
3. Observe: no word count or character count visible
4. Switch tab to other file
5. Observe word count and character count
6. Switch back to new .md file (click on tab)
7. Observe: the word count and char count are now visible!

[2018-08-11 15:40] OleMchls commented on #100
Hey, @kapote2017 I'm very sorry to hear that, this may be related to #95 Maybe @davidlday can help with that.

@kapote2017 I would also appreciate pull requests, in case you want to get your feet wet with `atom-wordcount` :)

[2018-08-11 15:43] OleMchls commented on #102
@jamesbeldock thanks for reporting this. IIRC this is a regression, but atoms APIs are constantly changing. If you would want to get your feet wet with `atom-wordcount` I would love to see a PR for this :)

[2018-08-13 14:44] davidlday commented on #100
@kapote2017 - Can you post sample text along with expected word count? I don't speak / read Armenian, but I'll be happy to do my best to help out.

[2018-08-22 15:25] holleyy opened #103 "Uncaught TypeError: Cannot read property 'match' of undefined"
[Enter steps to reproduce:]

1. ... Open a document
2. ... Wait
3. ... Errors (see below)

**Atom**: 1.29.0 x64
**Electron**: 2.0.5
**OS**: Mac OS X 10.13.6
**Thrown From**: [wordcount](https://github.com/nesQuick/atom-wordcount) package 3.0.0

### Stack Trace

Uncaught TypeError: Cannot read property 'match' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-09-05 07:44] kapote2017 commented on #100
Oh, sorry, I missed your message.

Here is the simple text:

Լինում է, չի լինում մի խեղճ մարդ` անունը Նազար: Էս Նազարը մի անշնորհք ու ալարկոտ մարդ է լինում: Էնքան էլ վախկոտ, էնքան էլ վախկոտ, որ մենակ ոտը ոտի առաջ չէր դնիլ, թեկուզ սպանեիր: Օրը մինչև իրիկուն կնկա կողքը կտրած` նրա հետ էր դուրս գնալիս դուրս էր գնում, տուն գալիս` տուն գալի: Դրա համար էլ անունը դնում են վախկոտ Նազար:

There is 59 words.

[2018-09-05 10:26] davidlday commented on #100
@kapote2017 - Can you confirm you're getting a 0 word count? If so, should be an easy enough fix.

[2018-09-07 11:38] kapote2017 commented on #100
Yes, I've get 0 words. And there is 58 words, you're right :) Algorithms count better than me. Fact!

[2018-09-08 17:05] davidlday commented on #100
@OleMchls - I have a fix, but I have a few questions before submitting a PR:

* The [word-regex](https://www.npmjs.com/package/word-regex) will no longer work as it doesn't account for Armenian, but I'm okay with helping maintain the regex from here on out. Are you okay with this?
* Since the regex will now be specific to this package, are you okay if I add in apostrophes (') to enforce contractio

[2018-09-08 21:08] davidlday commented on #100
@OleMchls - thank you! Changes were pretty minimal, so I'll start a branch here for the PR instead of using the fork.

@kapote2017 - Are there such things as contractions in Armenian (i.e. don't = do not)? And if so, would you consider a contraction one word or two?

[2018-09-09 00:48] davidlday commented on #55
@alexdevero - Is this still an issue in the current version? I believe the current version gives 4 words and 16 characters (spaces get included).

[2018-09-09 06:15] OleMchls commented on #101
I can't reproduce it, so closing it now. Please reopen with steps to reproduce and more information.

[2018-09-09 06:15] #101 closed

[2018-09-11 20:06] #100 closed

[2019-01-14 08:06] jhabdas commented on #55
Came up with the same result as @davidlday: `4 W | 16 C` which is not what OP expects and what the number of characters output by markdown processors (which output 15 characters, including whitespaces).

[2019-01-14 08:16] jhabdas opened #106 "Use with Hugo"
I'd like to be able to use this plug-in for translations of a Hugo website. But the content I'm using has a lot of [Shortcodes](https://gohugo.io/content-management/shortcodes/) like:

    {{< highlight go-html-template >}}
    {{< include "themes/after-dark/layouts/_default/single.html" >}}
    {{< /highlight >}}

Is there a way to configure word-count omissions if these types of things using Reg

[2019-01-14 12:06] davidlday commented on #99
@mbroedl - are you still working on this? Looks like a solid approach and would add tremendous value. Let us know if you need help. I'd be happy to install and test as well.

[2019-01-14 13:43] mbroedl commented on #99
@davidlday I haven't been working on it since my last post here, but the approach as above is still up and running and I'd say fully functional. I just rebased it on the master branch.
You should be able to use this: [mbroedl/atom-wordcount](https://github.com/mbroedl/atom-wordcount)
I don't know if this is of any use for you, but I currently strip these scopes for the wordcount: `comment, fenced.

[2019-01-14 15:43] davidlday commented on #99
@mbroedl I'll see if I can do some testing later today.

[2019-01-15 00:02] davidlday commented on #99
@mbroedl I'm on macOS Mojave and I'm getting the following when doing `apm install`:

[code]

I'll try on one of my Linux boxes in a bit and let you know if I have any luck.

[2019-01-15 10:51] mbroedl commented on #99
@davidlday Thanks for sorting these issues out!
The oniguruma package (which uses xcode) often causes trouble for me as well.
Looking forward to your tests!

[2019-01-15 11:04] OleMchls commented on #99
@davidlday Thanks for reviving this. Are you coordinating the merge of this? Please let me know if you need any more access/publish rights.

[2019-01-15 11:09] OleMchls commented on #106
@jhabdas Generally I agree with that feature request. However, adding support for each and every markup language would result in very complex code. If you are keen to push this forward I encourage you to take a look at https://github.com/OleMchls/atom-wordcount/issues/99 which is a great approach to this issue.

[2019-01-15 11:09] #106 closed

[2019-01-15 12:18] davidlday commented on #99
@OleMchls More than happy to help! Yes, I can coordinate merging but might tag you if I'm uncertain on something. Will also let you know if I hit any access issues.

@mbroedl Accessing tokenizedBuffer (lines [94](https://github.com/mbroedl/atom-wordcount/blob/master/lib/wordcount-view.coffee#L94) & [99](https://github.com/mbroedl/atom-wordcount/blob/master/lib/wordcount-view.coffee#L99) in wordcou

[2019-01-15 23:47] davidlday commented on #99
@mbroedl I did a little poking around in the console, and it looks like this definitely won't work for tree-sitter grammars. `getGrammar()` returns a `TreeSitterGrammar` which doesn't provide any tokenization methods. I was able to emulate by doing:

[code]

However, `editor.tokensForScreenRow()` is undocumented as well. I discovered it in atom's tree-sitter-language-mode-spec.js. This probably do

[2019-01-16 12:56] mbroedl commented on #99
Thanks for doing some digging @davidlday !
The `editor.tokensForScreenRow()` method exists for the regex parsers as well, so this might be a good start?
My suggestion would be to just implement it like that with a fallback option that counts the words without relying on tokens. In case of `editor.tokensForScreenRow == undefined` one could then add a warning icon with a brief explanation next to th

[2019-01-16 22:18] davidlday commented on #83
@neonfrontier Did you mean WPM in terms of typing speed or in terms of estimating reading time?

[2019-01-17 02:10] davidlday commented on #99
I think `tokensForScreenRow()` with the fallback option sounds like a good start, and we can adjust as the API for grammars matures. From reading the docs and discussions, I'm not really clear on their direction or why these APIs aren't being made public yet. [This issue](https://github.com/atom/atom/issues/18443) on the atom repo has a little more info, although it's geared toward writing tests,

[2019-01-17 11:36] davidlday commented on #55
I think #99 will address this.

[2019-01-17 12:01] mbroedl commented on #99
I see your concerns about the undocumented grammar. In my own repository I feel alright about it, but the atom-directory is a different thing altogether.

There were quite a few modifications necessary to adjust the parser to the `tokensForScreenRow` API (different names, wrapping of screen rows, scopes for CSS not for first-mate, etc). Have a look at the [commit](https://github.com/mbroedl/atom-w

[2019-01-17 14:51] davidlday opened #109 "Revert to using regexhq/word-regex"
[PR 7](https://github.com/regexhq/word-regex/pull/7) on regexhq/word-regex added support for Armenian and contractions. Local implementation of word-regex is redundant.

[2019-01-17 14:54] OleMchls commented on #99
That's a tough call. I would be ok to use the API, there is a way to define private functions. So, for the time being, we can use that, ideally, we could reach out to the atom team (maybe in the linked issue) and gather their opinion. If the API gets removed someday, there will be someone opening an issue here.

I want to take the opportunity to second @davidlday on this:

👍

[2019-01-19 17:10] davidlday commented on #88
@bendix3 @pwrobinson For clarification, is the request to exclude space characters (i.e. ' ') or all whitespace characters (i.e. the regex `[ \t\r\n\v\f]`)? I suspect the latter, but the title implies the former.

[2019-01-19 20:13] bendix3 commented on #88
@davidlday I wrote the request with space characters and markdown in mind, but I don't need any whitespace to be counted. Thanks for looking into this!

[2019-01-20 18:20] davidlday opened #110 "Improve Testing"
I'd like to suggest we use Travis CI to automate testing per [Atom's Documentation](https://blog.atom.io/2014/04/25/ci-for-your-packages.html). Tests need cleaned up / improved as well. This will help speed up PR approval / merges.

[2019-01-21 16:17] davidlday commented on #110
Closing this. Tests can be improved as we go forward. I'll do a little cleanup in the word-regex reversion.

[2019-01-21 16:17] #110 closed

[2019-01-23 03:56] davidlday commented on #109
Waiting for latest version of regexhq/word-regex to be published. [Issue opened](https://github.com/regexhq/word-regex/issues/8) - they seem to be having a little trouble with publishing permissions.

[2019-02-01 14:26] alienmindbender opened #112 "Words with umlauts are counted two/three times"
Hi there,

as the title says:

The german word "Füller" for example is counted two times, while the word "Schlösser" is counted three times...

![image](https://user-images.githubusercontent.com/15013291/52128575-99fb0d80-2635-11e9-9a05-dbab87f153fc.png)

[2019-02-02 08:40] jhabdas commented on #106
Couldn't agree more, which is why I would advise a generalized approach. This issue was intended to get the conversation kicked off. If #99 addresses both the wordcount issue and this one that'll be great.

[2019-03-12 18:17] eiriarte commented on #112
It also happens with accented characters and letters like ñ or ç. So, the phrase "las clínicas españolas" counts as five words, instead of three.

[2019-03-16 12:38] davidlday commented on #112
(Note to self) Need to include all Alphabet Characters from [Unicode Latin Script](https://en.wikipedia.org/wiki/List_of_Unicode_characters#Latin_script)

[2019-03-16 18:37] davidlday commented on #112
@eiriarte and @alienmindbender - Would you mind providing some sample text and expected word count for testing? A few sentences would suffice.

[2019-03-17 11:09] eiriarte commented on #112
@davidlday - Of course:

**Expected word count**: 234

**Expected word count**: 19

[2019-04-04 05:41] mattf1n opened #113 "Uncaught TypeError: Cannot read property 'match' of undefined"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.35.1 x64
**Electron**: 2.0.18
**OS**: Mac OS X 10.14.3
**Thrown From**: [wordcount](https://github.com/nesQuick/atom-wordcount) package 3.0.0

### Stack Trace

Uncaught TypeError: Cannot read property 'match' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2019-04-16 10:23] alienmindbender commented on #112
Sorry!
I was on holiday!

At the top of my head I can't think of any meaningful sentence - [google](http://www.diktat-truhe.de/diktate/ein-hundeleben.html) to the rescue:

Expected wordcount is 148, but 176 in atom.

[2019-04-24 11:23] davidlday commented on #112
My apologies for the delay. Thank you both for providing test cases! I've added and pushed to the "extended-charset" branch if either of you are interested in testing it out before the changes are published.

[2019-04-25 13:39] eiriarte commented on #112
It works, thank you! 👌

[2019-05-07 10:11] #112 closed

[2019-05-08 00:23] neonfrontier commented on #83
@davidlday typing speed. :)

[2019-05-12 11:45] jieyuefeng opened #115 "wordcount mismatch"
![image](http://asewqa.nj-dingri.com/6b359fa9a535d5d79beaa9cbecc0d03b.png)

[2019-05-12 12:19] OleMchls commented on #115
I don’t understand what’s the expected behavior. A single ‘a’ is just 1 character

[2019-05-12 12:19] #115 closed

[2019-05-12 12:33] jieyuefeng commented on #115
What's the meaning of the last number in "(1, **2**)", I found it is the same with the "Character Count" when selection, but mismatch when selection contains a new line.

[2019-05-12 13:00] davidlday commented on #115
@jieyuefeng - The "(1,2)" on the left isn't part of this package. It's a feature of Atom. If you hover over it, it should say something like, "1 line, 2 characters selected".

[2019-05-27 11:47] olafklingt opened #116 "Feature request: words until cursor"
It would be great to have an option to list the number of words until the cursor position.

[2019-05-27 12:11] OleMchls commented on #116
I can imagine this feature, by pressing an option key (e.g. alt) that'd update the display for the time the key is pressed. If you or anyone would like to pick this up, that would be cool!

[2019-05-27 12:39] olafklingt commented on #116
I don't clearly understand which behaviour you suggest. I think you want to avoid another option in the plug in settings, right?

[2019-05-27 12:49] OleMchls commented on #116
Exactly. I think this is valuable information, but can be achieved by without a settings flag, because it's something you want to see just every once in a while, and when you need it you don't want to switch to the settings. So what about only displaying this when a certain option key is defined?

[2019-07-02 10:12] IonianIronist opened #117 "Won't count the greek words"
I don't know if there is an issue with other alphabets (guess it's an encoding problem), but it doesn't seem to count words written in Greek at all, although it counts the characters.

[2019-07-02 10:53] davidlday commented on #117
Could you post some sample text with expected word and character counts?

[2019-07-03 09:27] IonianIronist commented on #117
![Screenshot_1](https://user-images.githubusercontent.com/36776432/60580486-e20d9000-9d8d-11e9-9dd3-d0703c777629.png)
expected 5 words , got 0

[2019-07-04 20:45] davidlday commented on #117
Greek characters weren't covered originally. I'll see if I can add them.

[2019-07-04 20:52] davidlday commented on #117
@IonianIronist - Quick question. Do you mean modern Greek only, or ancient Greek as well? See this SO question for reference: https://stackoverflow.com/questions/2502274/greek-characters-regular-expressions-and-c-sharp

[2019-07-05 14:24] IonianIronist commented on #117
Well, I only ever write modern Greek and use Atom for some of my school projects.
Also cant imagine anyone wanting to write ancient Greek in Atom, but sure there will be like that one weird guy. The only difference between the two are the accents as far as I'm aware  witch should be these here

[2019-08-15 14:17] peeter-t2 commented on #79
+1 :) I would also be happy to write e.g. //wc:500 at the beginning of file for the goals.

[2019-10-14 19:19] matthewmerendo opened #119 "Ignore YAML front matter"
Is there already a way to ignore YAML front matter? I'm new to all this -- markdown, Atom, YAML, the whole shebang! -- so I may just be missing something obvious. If not, how hard a feature would that be, to add an option to ignore the words between a set of ---?

[2019-10-29 11:46] mwermelinger opened #120 "Long reading times not properly shown"
I have a file with 4137 words and in the settings I have put a reading speed of 35 words per minute. It's a pedagogical text and I want to account for my students' time to re-read and highlight passages, write notes, etc. hence the low WPM.

So the text should take 4137/35 = 118.2 minutes = 118 minutes and 12 seconds to process, but the display only shows 18:12. The most significant digit is gone!

[2019-10-29 18:53] MasterOfTheTiger commented on #120
I wrote some code associcated with this. I may have not considered this case. I agree that hour:minute would probably be better, since the margin of error is likely much greater than several seconds when it comes to estimating reading time, and that level of accuracy simply isn't necessary.

There are two ways I can see fixing this:
- Removing the limit to numbers shown in minutes
- Changing it to

[2019-10-31 03:22] davidlday commented on #117
@IonianIronist  - I'm so sorry for the long delay in getting this merged. No excuse. I simply got distracted. Merging the PR now.

[2019-10-31 03:23] #117 closed

[2019-10-31 03:26] davidlday commented on #109
The updated regexhq/word-regex was never published. Closing for now as the necessary functionality is embedded in this extension.

[2019-10-31 03:26] #109 closed

[2019-10-31 06:42] MasterOfTheTiger commented on #120
@davidlday I am willing to work on this, but how should it be resolved?

[2019-11-01 15:29] mwermelinger commented on #120
Thanks for this. My preference would be to do as in your 2nd bullet point

[2019-11-01 16:53] davidlday commented on #120
Option 2 would also be my preference. @OleMchls - any preference?

[2019-11-01 19:16] OleMchls commented on #120
I’m also for option two. However, I’d like to highlight that I think the _correct_ solution would include this part that @MasterOfTheTiger mentioned:

[2019-11-14 01:50] davidlday commented on #120
@MasterOfTheTiger - I assigned you, if you still have time to work on it. Let me know if you need any help or guidance.

[2019-11-14 12:01] MasterOfTheTiger commented on #120
@davidlday I will work on this, if you are willing to be a bit patient. I may be able to get it written within a week realistically.

[2019-11-26 15:51] MasterOfTheTiger commented on #120
This is as far as I have gotten. It doesn't work, but I am too tired to figure it out at the moment.
[code]

[2019-11-26 16:43] mwermelinger commented on #120
Thanks for working on this. I don't know which language Atom is written in, but in Python one could do
[code]

There are other ways of formatting strings in Python but this is probably the simplest to adapt to your language.

[2020-01-08 03:02] pcheunghf opened #123 "Issue: CJK word count"
I appreciate your works a lot but there seems to be a problem in the word count of CJK words.

For CJK, there is no white-space between words, i.e. a character is a word character in CJK. For example, "我不是程序員" should be counted as 6 words yet it is counted as 1 word in the current version.

Currently, I have changed the word regex to
 /[\u0027\u02BC\u0030-\u0039\u0041-\u005A\u0061-\u007A\u00C0-\u0

[2020-02-18 02:46] TaoHuaLiu commented on #123
You can use the character count which functions as a rough word count for CJK.

[2020-04-03 16:24] dmavroeidis opened #124 "Doesn't count non-latin words"
If I enter a document in Greek, words are not recognised in that language. The only words recognized as words are the number "1943" and a few words in latin script. Not sure if this is the case for other non-latin scripts as well.
![Screenshot 2020-04-03 at 19 20 14](https://user-images.githubusercontent.com/1138524/78382979-4f31a880-75e0-11ea-97e5-091fc9c7bb43.png)

[2020-04-03 16:48] dmavroeidis commented on #124
Checked the version on github and it includes counting Greek words. The current version available on atom doesn't.
This was committed 9 months ago. Is there a plan for a new release?

[2020-04-04 06:34] OleMchls commented on #124
What version do you have installed? What’s on atom.io compared to what’s in the package.json?

All versions should have been published to atom.io

Sent from my iPhone

[2020-04-04 07:38] dmavroeidis commented on #124
Latest release 3.1 was on May 2019. Which doesn't include the fix.

![Screenshot 2020-04-04 at 10 37 11](https://user-images.githubusercontent.com/1138524/78421449-6912d000-7660-11ea-96b6-f6bb6cffcc8e.png)

[2020-04-04 07:53] OleMchls commented on #124
I just cut v3.2.0 please check if this fixes the problem :)

[2020-04-04 15:34] dmavroeidis commented on #124
Great! Thanks a lot.

[2020-04-04 15:34] #124 closed

[2020-05-09 20:24] danieledirubbo opened #125 "Uncaught TypeError: Cannot read property 'match' of undefined"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.46.0 x64
**Electron**: 4.2.7
**OS**: Unknown Windows version
**Thrown From**: [wordcount](https://github.com/nesQuick/atom-wordcount) package 3.2.0

### Stack Trace

Uncaught TypeError: Cannot read property 'match' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2020-05-11 23:07] danieledirubbo opened #126 "Uncaught TypeError: Cannot read property 'match' of undefined"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.46.0 x64
**Electron**: 4.2.7
**OS**: Unknown Windows version
**Thrown From**: [wordcount](https://github.com/nesQuick/atom-wordcount) package 3.2.0

### Stack Trace

Uncaught TypeError: Cannot read property 'match' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2020-05-11 23:08] #126 closed

[2020-06-05 16:46] jentravis opened #127 "Feature Request: Count emails and urls as single word"
Can there be an option to count an email address or web address as just 1 word? Currently, the following email is 5 words:

First.M.Last@College.edu
www.College.edu has 3 words.

I am counting on wordcount for analyzing words-per-page on a newsletter I edit, and this behavior is really inflating the counts on some of my content. But thanks so much for creating this package, it is a huge help!

[2020-07-03 18:58] nomad101 opened #128 "Feature Request for Writers: Target word count for file and per session"
Hi, thanks for creating this great package.

A couple of suggestions which I believe greatly benefits writers:

(i) We have a overall target main (e.g. length of book) which the package has, though this seems not to be file specific? In reality, there may be an overall length of a book, but different lengths of chapters (files).

(ii) Additionally, an enhancement would be to have a daily/'session'

[2020-08-03 17:49] #113 closed

[2020-11-12 23:33] jmanuel1 opened #130 "Freeze when typing unfinished markdown comments"
When I open a markdown comment while editing a file using the GitHub Markdown grammar, and starting adding text to it, Atom gradually gets slower and then freezes within a few seconds.

If I set `ATOM_HOME` to a different location to effectively reset Atom, install atom-wordcount, and try to reproduce the issue, nothing bad happens. This suggests that my settings or some other package is interacti

[2021-06-14 13:31] lucasvieites opened #131 "Please add option to use thousands separator"
Hi there,
my personal use of this package is to count characters in a file, this number is often in the several thousand, which gets hard to read when there are no separators.
Could you please add an option to define a "thousands separator"?

Kind regards,
Lucas

[2021-06-14 13:37] OleMchls commented on #131
I love the idea. but instead of adding yet another flip switch, what about we use one off the ends provided by the OS:

[code]

I'd love to see a PR for this

[2021-06-14 14:22] lucasvieites commented on #131
I'll try and add that myself. I have never done anything in CoffeeScript before, so it will look sloppy.

[2021-06-15 14:40] weathon opened #133 "How to enable it?"
I enabled it in ATom but it does not show the word count

[2021-06-15 14:41] weathon commented on #133
I found it, it is on the right down corner.
![image](https://user-images.githubusercontent.com/41298844/122073163-d6baa000-cdbd-11eb-8d83-c29e97b79f50.png)

[2021-08-19 20:08] joshua-smart opened #134 "Feature request: Option to set a character target instead of a word target"
It would be very useful to see the progress towards a set number of characters instead of words, such as in the case of university application personal statements (4,000 characters)

[2021-09-02 05:50] MarkPuchalaII commented on #102
Bug also seems to happen with untitled documents.

I can't get word count to show at all until I've saved the file as something.
Puts a real stint in trying to write something like essays in atom.

[2021-09-21 15:02] #131 closed

[2021-09-21 15:07] OleMchls commented on #134
Hey @joshua-smart this sounds like a handy addition to me, this should be combined with the existing option to work towards word goals. E.g. dropdown within the option if the value is words or chars:

![Screenshot 2021-09-21 at 17 06 25](https://user-images.githubusercontent.com/584259/134196738-d968556c-d81e-45c9-832d-dc7753de8e6f.png)

PRs are welcome :)

[2021-09-21 15:36] #102 closed

[2021-09-21 15:57] OleMchls commented on #102
This is fixed with the release of 3.3.0

[2022-02-15 07:09] #134 closed

[2022-05-18 08:25] ms609 commented on #125
I encountered this for the first time when launching a teletype session – teletype having previously been disabled and wordcount working happily.  Could it be an issue with how wordcount interacts with a teletype session?